<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Exclude code marked as not meaningful for unit coverage (UI/IO glue, etc.) -->
          <ExcludeByAttribute>
            ExcludeFromCodeCoverageAttribute;System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>

          <!-- Exclude generated/boilerplate files -->
          <ExcludeByFile>**/*AssemblyInfo.cs;**/*GlobalUsings.g.cs;**/*.g.cs;**/*.g.i.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>


